$table-bg-color: #9ec0c4; // Background color for table header
$table-bg-score: #f2f2f2;
$font-family: "Jost", sans-serif;

table {
  border-collapse: collapse;
  margin: 40px 0px;
  width: 80%;
  font-size: 14px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden;
  margin-left: 80px;
}

table th,
table td {
  /* border: 1px solid black; */
  /* padding: 6px; */
  padding: 6px 12px;
  text-align: center;
  cursor: pointer;

}

table td {
  background-color: #f2f2f2;
  border: 1px solid #000000;

}

#first-column-total,
#total-1,
#total-2,
table th {

  text-align: center;
  background-color: #005e7e;
  color: #ffffff;
  font-size: 12px;
  border: none;
}

.first-column {
  background-color: #c0e2ee;
}

.table-bold {
  font-weight: bold;
  text-transform: uppercase;
}


#uppertabletotal-1,
#uppertabletotal-2,
#bonus-1,
#bonus-2 {
  background-color: #c0e2ee;
}

#first-column-total{
  font-weight: bold;
}

.game-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2em;
  width: 100%;
}

.scoresheet {
  width: 30%;
}

.dice-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

.dice-display {

  opacity: 1;
  position: relative;
  background-color: rgba(36, 26, 0, 0.262);
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  div {
    width: 100px;
    height: 100px;
  }
  img:nth-child(2n) {
    margin-left: 60px;
  }
  img {
    border: dotted 3px transparent;
    width: 60px;
    height: auto;
    display: block;
    margin: 20px;
    &:hover {
      border-color: rgb(3, 18, 160);
      opacity: 95%;
    }
  }
  .selected {
    border: dotted 3px rgb(3, 18, 160);
  }
}
#mic-option {
  display: flex;
  flex-direction: column;
}
#mic-toggle {
  background-color: $table-bg-score;
  border-color: $table-bg-score;
  font-weight: 700;
  padding: 10px;
}

.mic-off .fas .fa-microphone {
  display: none;
}

.mic-on .fas .fa-microphone-slash {
  display: none;
}

#recordingButton {
  width: 170px;
  color: rgb(250, 247, 247);
  border: 1px solid rgb(94, 94, 97);
  border-radius: 5px;
  text-align: center;
  background-color: #2b1fcc;
  p {
    margin: 5px;
  }
}

#rollDice {
  width: 50px;
  height: 50px;
  background-color: rgb(212, 35, 35);
  border: none;
  border-radius: 5px;
  i {
    font-size: 20px;
    color: white;
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  &:active {
    opacity: 0.9;
  }
}

.scoringCell {
  color: grey;
  text-align: center;
  padding: 0;
}

.locked {
  color: black;
  font-weight: bolder;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.bonusBold{
  color: rgb(28, 14, 14);
  font-weight: 700;
}

#total-1,
#total-2{
  color: "white";
  font-weight: bold;
}

//modal with the winner
/* Style the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
